body {  background-attachment: fixed;
		font-family: 'Fira Sans', sans-serif;
}
article, side, footer, header, section{
	display: block;]
}
article, header, footer, nav{
	background: rgba(255, 255, 255, 0.6);
	padding: 10px; 
}
